#canvas {
    position: absolute;
}
.lineControl {
    position: absolute;
    top: 200px;
    left: 10px;
}
.cameraControl {
    position: absolute;
    top: 10px;
    left: 10px;
}
.spinControl {
    position: absolute;
    top: 750px;
    left: 10px;
}
.right {
    position: absolute;
    right: 10px;
    .datepicker {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 200px;
    }

    .timezonepicker {
        position: absolute;
        top: 10px;
        right: 220px;
    }
    .btn{
        position: absolute;
        top: 50px;
        right: 12px;
    }
}
.datepicker{
    position: absolute;
    top: 10px;
    right:10px;
    width: 160px;
    height: 30px;
}
.btn{
    position: absolute;
    top: 50px;
    right:10px;
}